.modal {
  display: flex;
  gap: 16px;
}
.img {
  height: calc(100vh - 40px);
}
.inf {
  width: 100px;
}
.title {
  font-weight: 600;
}
.userImg {
  border-radius: 15px;
  margin-bottom: 0;
}
.description {
  margin-bottom: 16px;
}
